:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(173, 172, 172);
}

.button:active {
    background-color: #ccc;
}

.button.operacao {
    background-color: #fa8231;
    color: #fff;

}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operacao:active {
    background-color: #fa8131cc;
    color: #fff;
}

.button.operacao:hover {
    background-color: #d66a22d5;
}

